@font-face {
  font-family: 'Milk';
  src: url('/fonts/Milk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #1e342a;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  .brand-name {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      margin-right: 10px;
    }

    p {
      font-size: 24px;
      font-weight: bold;
      color: white;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out, font-weight 0.2s ease;
    cursor: pointer;

    p {
      font-family: "Bebas Neue", sans-serif;
      margin: 0 15px;
      font-size: 24px;
      color: #c7c5c5;
      cursor: pointer;


      &:hover {
        color: #9a9a9a;
        transform: translateY(-2px);
      }
      &:active {
        color: #545454;
        transform: translateY(2px);
      }
      img {
        &:hover {
        filter: brightness(70%);
      }
        &:active {
        filter: brightness(50%);
      }

      }

    }
.cart {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 2px 5px 2px 5px;
  position: relative;
  margin: 0;
}

.cart img {
  height: 35px;
}

.cart-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: yellow;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 15px;
  color: black;
}
.active-link {
  color: #9a9a9a;
  text-decoration: underline;
  img {
    filter: brightness(70%);
  }
  }
  }

  .menu-icon{
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    z-index: 999;
  }
  .header-for-cart{
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .header-container{
    padding-right: 20px;
    padding-left: 20px;
    .nav-links{
      display: none;
    }
    .show {
      display: flex;
      flex-direction: column;
      position: absolute;
      gap: 40px;
      top: 0;
      left: 0;
      background-color: #1e342a;
      width: 100%;
      height: 100%;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      z-index: 998;
      p{
        font-size: 40px;
      }
      .cart img {
        height: 55px;
      }

  }
    .menu-icon{
      display: flex;
    }
    .header-for-cart{
      display: flex;
      gap: 35px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      padding-right: 0;
      padding-left: 0;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #1e342a;
      box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
      z-index: 995;
      .outer-cart{
        border: 6px solid #1e342a;
        background-color: #3a4641;
        border-radius: 50%;
        padding: 10px;
        margin: -10px 0 0 0;
      .cart {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2px 5px 2px 5px;
        position: relative;
        margin: 0;
      }
        }
      .nav-icon{
        font-size: 30px;
        color: #c7c5c5;
        &:hover {
          color: #9a9a9a;
          transform: translateY(-2px);
        }
        &:active {
          color: #545454;
          transform: translateY(2px);
        }

      }
      .cart img {
        height: 45px;
      }

      .cart-counter {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: yellow;
        border-radius: 50%;
        padding: 0 6px;
        font-size: 15px;
        color: black;
      }
      .active-link {
        i{
          color: #9a9a9a;
        }
      img {
        filter: brightness(70%);
      }
      }
  }
  }
}
