<div class="header-container">
  <div class="brand-name" routerLink="/">
    <img src="/assets/logo-tree.png" alt="Logo">
    <p>Lenscape</p>
  </div>
  <div class="nav-links" [ngClass]="{'show': isMenuOpen}">
    <p routerLink="/" (click)="toggleMenu()">Home</p>
    <p routerLink="/about" (click)="toggleMenu()">About</p>
    <p routerLink="/guide" (click)="toggleMenu()">Guide</p>
    <p routerLink="/presets" (click)="toggleMenu()">Shop</p>
    <p class="cart" routerLink="/cart" (click)="toggleMenu()">
      <img src="/assets/search_4.png" alt="Cart">
      <span class="cart-counter" *ngIf="itemsCount > 0">{{ itemsCount }}</span>
    </p>
  </div>
  <div class="menu-icon" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </div>
  <div class="header-for-cart">
    <div class="nav-icon" routerLink="/">
      <i class="fa-solid fa-house"></i>
    </div>
        <div class="nav-icon" routerLink="/presets">
      <i class="fa-solid fa-camera-retro"></i>
    </div>
        <div class="cart" routerLink="/cart">
      <img src="/assets/search_4.png" alt="Cart">
      <span class="cart-counter" *ngIf="itemsCount > 0">{{ itemsCount }}</span>
    </div>
        <div class="nav-icon" routerLink="/guide">
      <i class="fa-solid fa-chalkboard-user"></i>
    </div>
        <div class="nav-icon" routerLink="/about">
      <i class="fa-regular fa-user"></i>
    </div>
  </div>
</div>

