<div class="footer-container">
  <div class="article">
    <img src="https://i.imgur.com/r2G3xuo.png" alt="Logo">
    <span>&copy; 2024 Lenscape Inc.</span>
    <span>All rights reserved.</span>
  </div>
    <div class="nav-links">
    <span class="title">
      Links
    </span>
      <span>
      Blog
      </span>
            <span>
      Gear
      </span>
            <span>
      Tips
      </span>
            <span>
      Hire
      </span>

  </div>
    <div class="nav-links">
    <span class="title">
    Social
    </span>
    <span>
    Instagram
    </span>
          <span>
    Facebook
    </span>
          <span>
    Twitter
    </span>
          <span>
    LinkedIn
    </span>
  </div>
    <div class="nav-links">
    <span class="title">
    Policy
    </span>
      <span>
    Terms
      </span>
            <span>
    Privacy
      </span>
            <span>
    Help
      </span>
            <span>
    FAQ
      </span>
  </div>
    <div class="nav-links mobile">
    <span class="title">
    Links
    </span>
      <span class="title">
    Social
      </span>
            <span class="title">
    Policy
      </span>
            <span class="title">
    Help
      </span>
            <span class="title">
    FAQ
      </span>
  </div>
</div>
