<div class="about-container">
    <div class="text-part">
    <span class="title">
      About
    </span>
      <span class="title-text">
        Subheading for description or instructions
      </span>
      <span class="text">
        Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:
        Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.
      </span>
    </div>
  <div data-aos="fade-up" class="image-part">
    <img src="assets/about-page.jpg" alt="Philosophy">
    </div>
    <div data-aos="fade-up" class="image-part mobile">
    <img src="assets/2987.jpg" alt="Philosophy">
    </div>
</div>
<div class="mobile-text">
        <span class="title-text">
        Subheading for description or instructions
      </span>
  <span class="text">
    Body text for your whole article or post. We’ll put in some lorem ipsum to show how a filled-out page might look:
    Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power pariatur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.
  </span>
</div>

