<div class="about-container">
    <div class="text-part">
    <span class="title">
      About
    </span>
      <span class="title-text">
        Why you need to process photos?
      </span>
      <span class="text">
        In our world, every moment is unique, and photography allows us to capture its beauty.
        However, often raw photos cannot fully convey the depth of feeling or the atmosphere
        of the moment as we see it with our own eyes. This is where photo processing comes to
        the rescue.<br><br>Processing doesn't just enhance the image, it helps you <strong>express your
        vision and emphasize your personality</strong>. Each filter is like an artist's brush that adds
        subtlety and mood to your work. Using our presets, you can not only correct minor flaws
        in lighting or color reproduction, but also create a full-fledged artwork that will please
        the eye and evoke deep emotions in viewers.<br><br>We create tools that make the creative
        process accessible to everyone. Our filters are designed so that you can easily and quickly
        achieve the results you want without the need for lengthy post-processing. Your creativity
        is your story, and we're here to help you tell it.
      </span>
    </div>
  <div data-aos="fade-up" class="image-part">
    <img src="assets/about-page.jpg" alt="Philosophy">
    </div>
    <div data-aos="fade-up" class="image-part mobile">
    <img src="assets/2987.jpg" alt="Philosophy">
    </div>
</div>
<div class="mobile-text">
        <span class="title-text">
        Why you need to process photos?
      </span>
  <span class="text">
        In our world, every moment is unique, and photography allows us to capture its beauty.
        However, often raw photos cannot fully convey the depth of feeling or the atmosphere
        of the moment as we see it with our own eyes. This is where photo processing comes to
        the rescue.<br><br>Processing doesn't just enhance the image, it helps you <strong>express your
        vision and emphasize your personality</strong>. Each filter is like an artist's brush that adds
        subtlety and mood to your work. Using our presets, you can not only correct minor flaws
        in lighting or color reproduction, but also create a full-fledged artwork that will please
        the eye and evoke deep emotions in viewers.<br><br>We create tools that make the creative
        process accessible to everyone. Our filters are designed so that you can easily and quickly
        achieve the results you want without the need for lengthy post-processing. Your creativity
        is your story, and we're here to help you tell it.
  </span>
</div>

