<div class="main-container">
  <div class="welcome-part">
  <div class="text-part">
    <p class="title">
      <span>Captivating</span>
      <span>Visuals</span>
    </p>
    <p class="title-text">
      Explore a world where photography meets innovation with each shot capturing an untold story
    </p>
    <button class="button" routerLink="/presets">
      Go to shop
    </button>
  </div>
  <div class="image-part">
    <img src="/assets/img.png" alt="Logo">
</div>
    </div>
  <div class="sponsors">
    <div class="sponsors-text">
      Experience Tailored Services
    </div>
    <div class="sponsors-links">
      <p>
        Adobe Inc.
      </p>
      <i class="fa-solid fa-wind"></i>
      <p>
        Canon Inc.
      </p>
      <i class="fa-solid fa-tower-broadcast"></i>
      <p>
        Sony Corp.
      </p>
      <i>
      <i class="fa-brands fa-stumbleupon-circle"></i>
      </i>
    </div>
  </div>
</div>
