<div class="container-over-container">
<div class="contact-details-container">
  <div class="text">
    <span class="title">Contact Details</span>
    <span class="basic-text">
      For inquiries, booking sessions, or purchasing presets, please don’t hesitate to get in touch
    </span>
  </div>
  <div class="contact-actions">
  <input type="text" [(ngModel)]="email" name="email" placeholder="Email" />
  <button class="button" type="button" (click)="onInquireNowClick()">Inquire Now</button>
  </div>
</div>
</div>

